@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Lexicon AB<br />
    4th floor. room 2<br />
    056588888
</address>


    <strong>Check our Demo in :</strong>   <a href="https://github.com/TPalestig/Ovning-Git">https://github.com/TPalestig/Ovning-Git</a><br />
    